<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Our Site</title>
</head>
<body>
    {% if include_welcome_message %}
    <h1>{{ welcome_message }}</h1>
    {% endif %}
    {% if include_system_info %}
    <h2>System Information</h2>
    <ul>
        <li>RAM: {{ ansible_facts['memtotal_mb'] }} MB</li>
        <li>CPU: {{ ansible_facts['processor_cores'] }} Cores</li>
    </ul>
    {% endif %}
    <h2> sometext </h2>
</body>
</html>

